server:
  port: 8080

spring:
  application:
    name: taskforge-core-service

  # PostgreSQL
  datasource:
    url: jdbc:postgresql://localhost:5432/taskforge_dev
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        generate_statistics: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  # Kafka (2 Brokers)
  kafka:
    bootstrap-servers: localhost:9092,localhost:9093
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
    consumer:
      group-id: taskforge-consumer-group

  # Redis
  data:
    redis:
      host: localhost
      port: 6379

# Logging
logging:
  pattern:
    console: "%clr(%d{HH:mm:ss}){faint} | %clr(%-5level) | %clr(%-30.30logger{29}){cyan} | %msg%n"
  level:
    root: INFO
    com.taskforge: INFO
    org.springframework: WARN
    org.hibernate: WARN

# JWT
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}



# Email Configuration (NOT under spring)
email:
  from: ${MAIL_USERNAME}
  fromName: ${MAIL_FROM_NAME:TaskForge Team}

# Resilience4j Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    instances:
      emailService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10

  retry:
    instances:
      emailService:
        maxAttempts: 3
        waitDuration: 2s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
